@model SafeVault.Models.User

@{
    ViewData["Title"] = "User Registration";
    ViewBag.RoleList = Enum.GetNames(typeof(SafeVault.Models.UserRole))
    .Select(r => new SelectListItem { Value = r, Text = r }).ToList();
}

<h2>User Registration</h2>

<form asp-action="Register" method="post" novalidate>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    @* Role *@
    <div class="form-group">
        <label asp-for="Role"></label>
        @* <select asp-for="Role" class="form-control" asp-items="Html.GetEnumSelectList<SafeVault.Models.UserRole>()"></select> *@
        <select asp-for="Role" class="form-control" asp-items="ViewBag.RoleList"></select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}