@model SafeVault.Models.User

@{
    ViewData["Title"] = "User Only Dashboard";
}

<h2>User Only Dashboard</h2>

<p>Welcome to the User Only dashboard (no admins allowed!). Supposedly some user-specific information would go here.</p>